:root {
    --main-color: #e99c2f;
    --muted-color: #a3a1a0;
    --txt-main-color: #686060;
    --bg-main-color: #e99c2f;
    --bg-grey: #f8f9fd;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

/****************************************** Start Globel ******************************************/
.main-color {
    color: var(--main-color);
}

.muted {
    color: var(--muted-color);
}

.txt-main-color {
    color: var(--txt-main-color);
}

.bg-main-color {
    background-color: var(--bg-main-color);
}

.bg-grey {
    background-color: var(--bg-grey);
}

.container {
    width: 85%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.txt-center {
    text-align: center;
}

/****************************************** End Globel ******************************************/

/****************************************** Start Navbar ******************************************/
.navbar {
    height: 80px;
}

.navbar ul li a {
    margin: 0 25px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: .9rem;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
}

.navbar ul li a:hover {
    color: var(--main-color);
}

.navbar i {
    margin-left: 22px;
    position: relative;
}

.navbar .fa-bars {
    display: none;
}

.navbar .icons i.fa-cart-shopping::after {
    content: "2";
    position: absolute;
    top: -10px;
    right: -10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
}

.navbar i:hover {
    color: var(--main-color);
}

/****************************************** End Navbar ******************************************/

/****************************************** Start Intro ******************************************/
.intro {
    padding-top: 40px;
    height: calc(100vh - 80px);
}

.intro .content {
    flex-basis: 50%;
    margin-top: 30px;
}

.intro .content h2 {
    font-weight: 400;
}

.intro .content h3 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.intro .content p {
    line-height: 1.5;
}

.intro .content .pricing {
    position: relative;
}

.intro .content .pricing .line-through {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 30px;
    background-color: #a3a1a0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.intro .content .pricing span:first-of-type {
    margin-left: 40px;
    font-weight: 600;
}

.intro .content .pricing span:last-of-type {
    text-decoration: line-through;
}

.intro .content button {
    padding: 0 30px;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 30px;
    font-weight: bold;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
    margin-right: 20px;
}

.intro .content button:last-child {
    color: var(--main-color);
    background-color: transparent;
}

.intro .content button:hover {
    background-color: transparent;
    color: var(--main-color);
}

.intro .content button i {
    margin-right: 20px;
}

.intro img {
    width: 400px;
    object-fit: contain;
}

.intro .balls {
    position: absolute;
    bottom: 35px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.intro .balls div {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.intro .balls div:hover:not(:nth-child(1)) {
    background-color: var(--main-color);
}

.intro .balls div:nth-child(2) {
    margin: 0 10px;
}

.intro .balls div.active {
    position: relative;
    padding: 6px;
}

.intro .balls div.active::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--main-color);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/****************************************** End Intro ******************************************/

/****************************************** Start SectionTwo ******************************************/
.sectionTwo {
    margin: 80px 0;
}

.sectionTwo>div {
    gap: 40px;
}

.sectionTwo .box {
    width: 280px;
    height: 300px;
    padding: 20px;
}

.sectionTwo .box p {
    margin: 0;
    line-height: 1.5;
}

.sectionTwo .box:nth-child(2) {
    flex-grow: 1;
}

.sectionTwo .box .content h4 {
    font-size: 1.1rem;
}

.sectionTwo .box .content p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.sectionTwo .box .content span {
    font-weight: bold;
}

.sectionTwo .box .content button {
    display: block;
    background-color: transparent;
    color: var(--txt-main-color);
    border: 1px solid var(--txt-main-color);
    padding: 12px;
    margin-top: 20px;
    font-weight: bold;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
}

.sectionTwo .box .content button:hover {
    color: #fff;
    background-color: var(--txt-main-color);
    border-color: var(--txt-main-color);
}

.sectionTwo .box:nth-child(2) img {
    margin-right: 25px;
}

/****************************************** End SectionTwo ******************************************/

/****************************************** Start New Arrivals ******************************************/
.arrivals>div {
    gap: 50px 20px;
}

.arrivals h2 {
    margin-bottom: 60px;
}

.arrivals .box {
    width: calc((100% / 4) - 20px);
    position: relative;
}

.arrivals .box .mark {
    position: absolute;
    right: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.arrivals .box .mark.green {
    background-color: green;
}

.arrivals .box .img {
    height: 320px;
}

.arrivals .box .info h4 {
    margin: 30px 0 15px;
}

/****************************************** End New Arrivals ******************************************/

/****************************************** Start Collection  ******************************************/
.collection {
    margin: 80px 0;
    background: url(../images/collection/sofa-collection-banner.jpg);
    height: 500px;
    background-size: cover;
    position: relative;
}

.collection .container {
    position: relative;
    height: 100%;
}

.collection .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #3c4344e7;
}

.collection .content {
    width: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.collection .content h2 {
    font-size: 1.5rem;
}

.collection .content p {
    line-height: 1.7;
    font-weight: bold;
}

.collection .content button {
    border: none;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 24px;
    cursor: pointer;
    font-weight: bold;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
    margin-top: 10px;
}

.collection .content button:hover {
    background-color: #fff;
    color: var(--main-color);
}

/****************************************** End Collection  ******************************************/

/****************************************** Start Featured ******************************************/
.featured {
    margin: 80px 0;
}

.featured h2 {
    margin-bottom: 50px;
}

.featured>div {
    gap: 40px;
}

.featured .box {
    width: calc((100% / 4) - 40px);
}

.featured .box .stars i {
    margin-right: 5px;
}

.featured .box .stars span {
    margin-left: 10px;
}

.featured .box h4 {
    margin: 15px 0;
}

.featured .box img {
    width: 100%;
    margin-bottom: 20px;
}

/****************************************** End Featured  ******************************************/

/****************************************** Start Blog  ******************************************/

.blog>div {
    margin-top: 50px;
    gap: 20px;
}

.blog .box {
    width: calc((100% / 3) - 20px);
}

.blog .box img {
    width: 100%;
}

.blog .box span {
    color: #c3bfba;
}

/****************************************** End Blog  ******************************************/

/****************************************** Start Clients  ******************************************/
.clients {
    margin: 80px 0;
    padding: 80px 0;
}

.clients>div {
    gap: 40px;
}

/****************************************** End Clients  ******************************************/

/****************************************** Start Footer  ******************************************/
.footer ul {
    padding: 0;
}

.footer .box {
    width: calc(100% / 4);
}

.footer h4 {
    color: var(--txt-main-color);
    margin-bottom: 40px;
}

.footer ul li {
    color: var(--muted-color);
    margin: 20px 0;
    cursor: pointer;
}

.footer ul li:hover {
    color: var(--txt-main-color);
}

.footer p {
    color: var(--muted-color);
    line-height: 1.5;
}

.footer .box>div {
    margin-top: 30px;
    padding: 15px;
    box-shadow: 1px 3px 10px #ccc;
}

.footer .box>div input {
    border: none;
    outline: none;
    width: 75%;
}

/****************************************** End Footer  ******************************************/

/****************************************** Start End  ******************************************/
footer {
    position: relative;
    margin-top: 100px;
    padding: 50px 0;
}

footer .social-media i {
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
}

footer .social-media i:hover {
    color: var(--txt-main-color);
}

footer p {
    margin-top: 30px;
}

.up {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--bg-main-color);
    position: absolute;
    bottom: 120px;
    right: 30px;
}

.up a {
    color: #fff;
}

/****************************************** End End  ******************************************/

/****************************************** Start Media 991px ******************************************/
@media (max-width: 991px) {
    .navbar ul {
        display: none;
    }

    .navbar .fa-bars {
        display: block;
    }

    .intro .content {
        flex-basis: 100%
    }

    .intro img {
        display: none;
    }

    .intro .balls {
        display: none;
    }

    .sectionTwo .box {
        width: 100%;
        height: initial
    }

    .sectionTwo .box:nth-child(2) {
        margin: 0;
    }

    .arrivals .box {
        width: calc((100% / 2) - 20px);
    }

    .collection .layer {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #3c4344e7;
    }

    .collection .content {
        width: 100%;
    }

    .featured .box {
        width: calc((100% / 2) - 40px);
    }

    .blog .box {
        width: calc((100% / 2) - 20px);
    }

    .blog .box:nth-child(3) {
        width: calc(100% - 20px);
    }

    .footer .box {
        width: calc(100% / 2);
    }
}

/****************************************** Start Media 767px ******************************************/
@media (max-width: 767px) {
    .sectionTwo .box:nth-child(2) {
        flex-direction: column;
        text-align: center;
    }

    .sectionTwo .box .content button {
        margin: 20px auto;
    }

    .intro {
        padding: 0 0 50px 0;
        height: 100%;
    }

    .arrivals .box {
        width: calc(100% - 20px);
    }

    .featured>div,
    .arrivals>div,
    .blog>div {
        justify-content: center;
    }

    .featured .box {
        width: calc(100% - 40px);
    }

    .blog .box {
        width: calc(100% - 20px);
    }

    .footer .box {
        width: 100%;
    }
}